<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NHN Board</title>
        <link th:href="@{/styles/global-style.css}" rel="stylesheet" />
    </head>
    <body>
        <th:block th:include="includes/header"></th:block>
        <main>
            <section>
                <form method="post" action="/users">
                    <input type="text" name="username" placeholder="아이디">
                    <br>
                    <input type="password" name="password" placeholder="비밀번호">
                    <br>
                    <button type="submit">로그인</button>
                </form>
            </section>
        </main>
    </body>
</html>
