<!doctype html>
<html lang="ko" xmlns:th="http//thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mooray | 회원가입</title>
        <link th:href="@{/styles/global-style.css}" rel="stylesheet" />
    </head>
    <body>
        <th:block th:include="includes/header"></th:block>
        <main>
            <form method="post" action="/signup">
                ID : <input type="text" name="username"><br>
                PW : <input type="password" name="password"><br>
                <input type="submit" value="회원가입">
            </form>
        </main>
        <section>
            <a href="https://github.com/login/oauth/authorize?response_type=code&client_id=4376b3d3f49b706aaf49&scope=read:user&state=xon18Nceuj5z7u00kdHKYQquCRie3mXg_T62oGmKxq0%3D&redirect_uri=http://localhost:8080/login/oauth2/code/github">
                Github 로 로그인
            </a>
        </section>
    </body>
</html>
