<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mooray | 메인</title>
        <link th:href="@{/styles/global-style.css}" rel="stylesheet" />
    </head>
    <body>
        <th:block th:include="includes/header"></th:block>
        <main>
            <a href="/signup">회원가입</a>
            <form method="post" action="/login">
                <button type="submit">로그인</button>
            </form>
        </main>
    </body>
</html>
